@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta:hsl(300, 69%, 71%);
}

html{
    font-size: 16px;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: url("/images/bg-mobile.svg") no-repeat
    center/contain;
    background-color: var(--violet);
    background-position: -120% -2%;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem 1.5rem;
}

header img{
    width: 40% !important;
}

.main{
    margin-top: 2.5rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.main button{
    color: var(--violet);
    padding: 1rem 5rem;
    border-radius: 30px;
    border: 0;
}

.icons{
    margin: 2rem auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.icons .icon{
    margin: 0 .5rem;
    color: #fff;
    font-size: 1.25rem;
    border:2px solid #fff;
    border-radius: 100%;
    padding: .75rem;
}
.attribution {
      font-size: 1rem; 
      text-align: center;
 }    

.attribution a {
         color: var(--soft-magenta); 
}

@media screen and (min-width:960px){
body{
    /*
    cover tells the browser to make sure the image always covers the entire container, even if it has to stretch the image or cut a little bit off one of the edges. contain, on the other hand, says to always show the whole image, even if that leaves a little space to the sides or bottom.
    */
    background: url("/images/bg-desktop.svg") no-repeat;
    background-color: var(--violet);
    background-size: cover;
}

.container{
    padding: 2rem 1rem 0 1rem;
}
.main{
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: flex-start;
}
header img{
    width: 20% !important;
}

.main img{
    margin-right: 1.95rem;
    width: 50%;
}
.main h1{
    font-size:2rem;
}
.main p{
    font-size: 1.1rem;
    line-height: 1.75;
}

.icons{
    margin:0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

}